/*
a.custom-card,
a.custom-card:hover {
  color: inherit;
}
*/

.continent-card {
    border-width: thick;
    border-color: blue;
}

.stretched-link::hover {

    background-color: blue;
}

/*
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
}
*/